html{
	width: 100%
}

body{
	width: 100%;
	background: #EAEAEA;
}

h1{
	font-family: "Life Savers", cursive;
	font-size: 2em;
	text-align: center;
	margin: 1em 0 0 0;
}

section{
	width: 80%;
	margin: 2em auto 1em;
	padding: 1em;
	background: #B1C6DC;
	border-radius: 5px;
}

section h1{
	font-family: "Life Savers", cursive;
	font-size: 1.1em;
	margin: 0 0 1em 0;
	text-align: center;
}

p{
	font-size: .9em;
	margin: 0 0 1.1em 0;
	text-align: center;
}

.center{
	margin: 0 auto;
}

.wrap{
	width: 80%;
	margin: 0 auto;
}

.authorize_button{
	margin: 10px auto 0;
	width: 75px;
	cursor: pointer;
	display: block;
}

.feed{
	margin: 0 auto;
	width: 91%;
}

.feed li{
	display: inline-block;
	margin: .2em;
}

.feed li h2{
	margin: 0 0 .5em 0;
	font-family: "Life Savers", cursive;
	font-size: .9em;
}

.feed li img{
	border: 1px solid #232323;
}